[submodule "CODE/pico-examples"]
	path = CODE/pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
[submodule "CODE/PPSE_firmware"]
	path = CODE/PPSE_firmware
	url = https://github.com/LucaToffa/PPSE_firmware.git
